<ion-buttons slot="start">
  <ion-button (click)="onGoBack()">
    <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
  </ion-button>
</ion-buttons>

  <div id="container" class="ion-text-center titre">
    <h1>{{information.nom}}</h1>
  </div>

  <div class="ion-text-center">
    <img [src]="information.image" alt="Description de l'image"
         [ngClass]="{'image-restaurant': information.type === 'restaurant'|| information.type === 'recette', 'image-reduite': information.type !== 'restaurant'}">
  </div>

  <div id="container" class="ion-text-center">
    <p *ngFor="let ligne of tableauDescription" class="description-line">{{ ligne }}</p>
  </div>

  <div id="container" class="ion-text-center texte">
    <p><b><em>Qu'il est chaud le soleil</em></b></p>
    <p><b><em>Quand nous sommes en vacances</em></b></p>
    <p><b><em>Y'a d'la joie, des hirondelles</em></b></p>
    <p><b><em>C'est le sud de la France</em></b></p>
    <p><b><em>Papa bricole au garage</em></b></p>
    <p><b><em>Maman lit dans la chaise longue</em></b></p>
    <p><b><em>Dans ce joli paysage</em></b></p>
    <p><b><em>Moi, je me balade en tongs</em></b></p>
  </div>

  <div id="container" class="ion-text-center">
    <p><b><em>Que de bonheur !</em></b></p>
    <p><b><em>Que de bonheur !</em></b></p>
  </div>
