<ion-content>
  <div id="container" class="ion-text-center titre">
    <h1>Tourteau linguine</h1>
  </div>

  <div class="ion-text-center">
    <img src="../../../assets/recettes/linguine.jpg" alt="Description de l'image" class="image-reduite">
  </div>

  <div id="container" class="ion-text-center description">
    <p>XXX YYY ZZZ</p>
  </div>

  <div id="container" class="ion-text-center texte">
    <p><b><em>Qu'il est chaud le soleil</em></b></p>
    <p><b><em>Quand nous sommes en vacances</em></b></p>
    <p><b><em>Y'a d'la joie, des hirondelles</em></b></p>
    <p><b><em>C'est le sud de la France</em></b></p>
    <p><b><em>Papa bricole au garage</em></b></p>
    <p><b><em>Maman lit dans la chaise longue</em></b></p>
    <p><b><em>Dans ce joli paysage</em></b></p>
    <p><b><em>Moi, je me balade en tongs</em></b></p>
  </div>

  <div id="container" class="ion-text-center">
    <p><b><em>Que de bonheur !</em></b></p>
    <p><b><em>Que de bonheur !</em></b></p>
  </div>

</ion-content>