<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Bouton d'accueil -->
    <ion-buttons slot="start">
      <ion-button (click)="onGoToHome()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Image centrée -->
    <ion-title class="ion-text-center">
      <div class="flex-container">
        <h1 class="text-container">Le bateau de Thibault
        <img src="assets/icon/logo.jpg" alt="Logo" class="logo-img"></h1>
      </div>
    </ion-title>

    <!-- Lien vers le panier à droite -->
    <ion-buttons slot="end">
      <ion-button (click)="onGoToPanier()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>