.ion-text-center {
    text-align: center;
  }
  
  .flex-container {
    display: flex;
    align-items: center;
    margin-left: 5%;
  }
   
  .logo-img {
    max-width: 5%;
    height: auto;
  }

  h1 {
    font-size: 1em;
  }