.image-reduite {
  width: 15%; /* La largeur de l'image sera réduite à 50% de la largeur de son conteneur */
  height: auto; /* La hauteur est ajustée de manière proportionnelle à la largeur */
  display: block; /* Pour centrer l'image horizontalement */
  margin: 0 auto; /* Pour centrer l'image horizontalement */
  /* Vous pouvez également ajouter d'autres styles ou propriétés ici si nécessaire */
  border-radius: 10px; /* Ajustez le rayon de bordure selon vos préférences */
  overflow: hidden; /* Pour s'assurer que l'arrondi est appliqué correctement */
}

.texte p {
  line-height: 0; /* Réduit l'espacement vertical entre les lignes */
}

.description {
  padding-top: 3%;
  padding-bottom: 3%;
  line-height: 0; /* Réduit l'espacement vertical entre les lignes */
}

.titre {
  padding-bottom: 2%;

}

@media screen and (max-width: 767px) {
  .image-reduite {
    width: 50%; /* Réduire la largeur à 50% pour les appareils mobiles */
  }
}
