<app-header></app-header>
<ion-content>
  <div id="container" class="ion-text-center">
    <h1>Nos bateaux partenaires</h1>
  </div>

  <div id="container" class="ion-text-center">
    <b>Toutes les eaux mènent à Thibault.</b>
    <br>
    <p>06.63.99.99.78</p>
    <p>lebateaudethibault@gmail.com</p>
    <p>www.facebook.com/lebateaudethibault</p>
  </div>

  <div class="wrapper">
    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToBrise()">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>De la brise</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToSaphir()">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Saphir</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>

  <div class="wrapper">
    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToGast()">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Gast Micher</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToAquilon()">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Aquilon</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>


  <div class="wrapper">
    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToContact()">
      <div class="cercle">
        <ion-icon name="call-outline" class="icon"></ion-icon>
      </div>
      <p>Contact</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToContact()">
      <div class="cercle">
        <ion-icon name="call-outline" class="icon"></ion-icon>
      </div>
      <p>Contact</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>

</ion-content>