<ion-header>
  <ion-toolbar class="modal-background">
    <ion-title>
      Lieu
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="valider()">
    <ion-list>
      <ion-radio-group [(ngModel)]="lieuSelect" [ngModelOptions]="{standalone: true}">
        <ion-item *ngFor="let lieu of lieux">
          <ion-radio [value]="lieu.id">{{ lieu.adresse }}</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-button color="warning" expand="full" type="submit">Valider</ion-button>
  </form>
</ion-content>