<ion-content>
  <div id="container" class="ion-text-center titre">
    <h1>Noix de Saint-Jacques flambées au cognac</h1>
  </div>

  <div class="ion-text-center">
    <img src="../../../assets/recettes/noix.jpg" alt="Description de l'image" class="image-reduite">
  </div>

  <div id="container" class="ion-text-center texte">
    <em>Faire fondre du beurre avec des échalotes puis ajouter les noix de Saint-Jacques. Les faire revenir en laissant
      le milieu translucide puis les retirer du feu.</em>
    <br>
    <em>Ajouter l'ail et le persil dans la poêle et laisser cuire quelques secondes. Bien faire chauffer la poêle, puis
      flamber au Cognac. Une fois la flamme éteinte, ajouter les noix de Saint-Jacques (il ne faut pas les flamber car
      elles perdraient leur saveur).</em>
    <br>
    <em>Dégustez chaud ou accompagné d'une fondue de poireaux.</em>
  </div>

</ion-content>