<app-header></app-header>

<ion-content>
  <ion-toolbar class="custom-background">
    <ion-buttons slot="start">
      <ion-button (click)="onGoToHome()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title class="ion-text-center">
      <h1>Choisissez vos produits</h1>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="true" style="visibility: hidden; opacity: 0;">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="wrapper" (click)="onGoToDetail(0)">
    <div class="ion-activatable ripple-parent rounded-rectangle">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Poissons</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

  </div>

  <div class="wrapper" (click)="onGoToDetail(1)">
    <div class="ion-activatable ripple-parent rounded-rectangle">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Coquillages</p>
      <ion-ripple-effect></ion-ripple-effect>

    </div>
  </div>

  <div class="wrapper" (click)="onGoToDetail(2)">
    <div class="ion-activatable ripple-parent rounded-rectangle">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Crustacés</p>
      <ion-ripple-effect></ion-ripple-effect>

    </div>
  </div>

  <div class="wrapper" (click)="onGoToDetail(3)">
    <div class="ion-activatable ripple-parent rounded-rectangle">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Promotions</p>
      <ion-ripple-effect></ion-ripple-effect>

    </div>
  </div>

</ion-content>