<ion-content>
  <div id="container" class="ion-text-center">
    <h1>Restaurants partenaires</h1>
  </div>

  <div id="container" class="ion-text-center">
    <b>Tous les restaurants partenaires avec le bateau de Thibault.</b>
    <br>
    <p>06.63.99.99.78</p>
    <p>lebateaudethibault@gmail.com</p>
    <p>www.facebook.com/lebateaudethibault</p>
  </div>

  <div class="wrapper">
    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToGascon()">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Bistrot des Gascons</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToFous()">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Les fous de l'île</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>

  <div class="wrapper">
    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToLandais()">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Bistrot Landais</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToVilla()">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Villa 9-Trois</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>

  <div class="wrapper">
    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToSommelier()">
      <div class="cercle">
        <ion-icon name="book-outline" class="icon"></ion-icon>
      </div>
      <p>Bistrot du Sommelier</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToContact()">
      <div class="cercle">
        <ion-icon name="call-outline" class="icon"></ion-icon>
      </div>
      <p>Devenez partenaire!</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>

</ion-content>