<ion-content>
  <div id="container" class="ion-text-center">
    <h1>Nos recettes</h1>
  </div>

  <div id="container" class="ion-text-center">
    <b>Toutes les recettes du bateau de Thibault.</b>
    <br>
    <p>06.63.99.99.78</p>
    <p>lebateaudethibault@gmail.com</p>
    <p>www.facebook.com/lebateaudethibault</p>
  </div>

  <div class="wrapper">
    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToHomard()">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Homard</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToJacques()">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>St Jacques</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>

  <div class="wrapper">
    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToBar()">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Bar</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToTourteau()">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Tourteau</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>

  <div class="wrapper">
    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToRecette()">
      <div class="cercle">
        <ion-icon name="book-outline" class="icon"></ion-icon>
      </div>
      <p>Recette</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToRecette()">
      <div class="cercle">
        <ion-icon name="call-outline" class="icon"></ion-icon>
      </div>
      <p>Recette</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>

</ion-content>