<ion-header>
  <ion-toolbar>
    <!-- Bouton d'accueil -->
    <ion-buttons slot="start">
      <ion-button (click)="onGoToHome()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Image centrée -->
    <ion-title>
      <h1 class="ion-text-center">Le bateau de Thibault</h1>
    </ion-title>

    <!-- Lien vers le panier à droite -->
    <ion-buttons slot="end">
      <ion-button (click)="onGoToPanier()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-row class="separator"></ion-row>

  <ion-toolbar class="ion-text-center">
    <h2>Choisissez vos produits</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Liste de boutons pour chaque produit -->
  <ion-list>
    <!--(click)="afficherDetailsProduit(produit)"-->
    <ng-container *ngIf="listeProduits$ | async as listeProduits">
      <ion-item *ngFor="let produit of listeProduits" (click)="ajoutPanier(produit)">
        <!-- Utilisez une grille pour organiser les éléments sur une seule ligne -->
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <!-- Colonne pour l'image -->
              <div class="cercle">
                <ion-icon name="fish-outline" class="icon"></ion-icon>
              </div>
            </ion-col>


            <!-- Colonne pour le nom -->
            <ion-col size="6">
              <ion-label>
                <h2>{{ produit.name }}</h2>
              </ion-label>
            </ion-col>

            <!-- Colonne pour le prix -->
            <ion-col size="2">
              <p> <span *ngIf="estDansPanier(produit)">OK</span>
                {{ produit.price }}€</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ng-container>

  </ion-list>
</ion-content>