<app-header></app-header>

<ion-content>
  <ion-toolbar class="custom-background">
    <ion-buttons slot="start">
      <ion-button (click)="onGoBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      <h2>Choisissez vos produits</h2>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="true" style="visibility: hidden; opacity: 0;">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <ion-list>
    <ng-container *ngIf="listeProduits$ | async as listeProduits">
      <ion-item *ngFor="let produit of listeProduits">
        <!-- Utilisez une grille pour organiser les éléments sur une seule ligne -->
        <ion-grid>
          <ion-row>
            <ion-col size="2" (click)="loadProduit(produit)">
              <!-- Colonne pour l'image -->
              <div class="cercle">
                <ion-icon name="fish-outline" class="icon"></ion-icon>
              </div>
            </ion-col>


            <!-- Colonne pour le nom -->
            <ion-col size="6" (click)="loadProduit(produit)">
              <ion-label>
                <h2>{{ produit.name }}</h2>
              </ion-label>
            </ion-col>

            <!-- Colonne pour le prix -->
            <ion-col size="2">
                <p>{{ produit.price }}€</p>
            </ion-col>

            <!-- Colonne pour la quantité -->
            <ion-col size="2">
              <div class="quantite-controls">
                  <ion-icon name="remove-circle-outline" class="cercle-button" (click)="diminuerQuantite(produit)"></ion-icon>
                <span class="quantite">{{quantiteProduit(produit)}}</span>
                  <ion-icon name="add-circle-outline" class="cercle-button" (click)="augmenterQuantite(produit)"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ng-container>

  </ion-list>
</ion-content>