<ion-header>
  <ion-toolbar>
    <!-- Bouton d'accueil -->
    <ion-buttons slot="start">
      <ion-button (click)="onGoToHome()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Image centrée -->
    <ion-title>
      <h1 class="ion-text-center">Le bateau de Thibault</h1>
    </ion-title>

    <!-- Lien vers le panier à droite -->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h2 class="ion-text-center">Choisissez vos produits</h2>

  <div class="wrapper">
    <div class="ion-activatable ripple-parent rounded-rectangle">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Poissons</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

  </div>

  <div class="wrapper">
    <div class="ion-activatable ripple-parent rounded-rectangle">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Coquillages</p>
      <ion-ripple-effect></ion-ripple-effect>

    </div>
  </div>

  <div class="wrapper">
    <div class="ion-activatable ripple-parent rounded-rectangle">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Crustacés</p>
      <ion-ripple-effect></ion-ripple-effect>

    </div>
  </div>

  <div class="wrapper">
    <div class="ion-activatable ripple-parent rounded-rectangle">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Promotions</p>
      <ion-ripple-effect></ion-ripple-effect>

    </div>
  </div>

</ion-content>