<ion-content>
  <div id="container" class="ion-text-center titre">
    <h1>Homard en chaud-froid</h1>
  </div>

  <div class="ion-text-center">
    <img src="../../../assets/recettes/homard.jpg" alt="Description de l'image" class="image-reduite">
  </div>

  <div id="container" class="ion-text-center texte">
    <em>Faites cuire les homards dans de l'eau bouillante avec du thym, du laurier, du sel et du poivre de Cayenne.
      Laissez cuire 20 minutes. Egouttez-les et laissez-les refroidir</em>
    <br>
    <em>Découpez les coffres des homards dans le sens de la longueur</em>
    <br>
    <em>Mélangez la mayonnaise avec le cognac, le corail et la ciboulette ciselée.</em>
  </div>

</ion-content>