<ion-content>
  <div id="container" class="ion-text-center">
    <h1>Le bateau de Thibault</h1>
  </div>

  <div id="container" class="ion-text-center">
    <b>Vente en direct de notre bateau</b>
    <br>
    <b>Produits selon la saison, Livraisons sur Paris</b>
    <p>06.63.99.99.78</p>
    <p>lebateaudethibault@gmail.com</p>
    <p>www.facebook.com/lebateaudethibault</p>
  </div>

  <div>
    <div class="ion-activatable ripple-parent rounded-rectangle" (click)="onGoToProduits()">
      <div class="cercle">
        <ion-icon name="fish-outline" class="icon"></ion-icon>
      </div>
      <p>Produits et promotions</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>

  <div class="wrapper">
    <div class="ion-activatable ripple-parent rounded-rectangle2" (click)="onGoToBateaux()">
      <div class="cercle">
        <ion-icon name="boat-outline" class="icon"></ion-icon>
      </div>
      <p>Bateaux</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent rounded-rectangle2" (click)="onGoToRestaurants()">
      <div class="cercle">
        <ion-icon name="restaurant-outline" class="icon"></ion-icon>
      </div>
      <p>Restaurants</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>

  <div class="wrapper">
    <div class="ion-activatable ripple-parent rounded-rectangle2" (click)="onGoToRecettes()">
      <div class="cercle">
        <ion-icon name="book-outline" class="icon"></ion-icon>
      </div>
      <p>Recettes</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent rounded-rectangle2" (click)="onGoToContact()">
      <div class="cercle">
        <ion-icon name="call-outline" class="icon"></ion-icon>
      </div>
      <p>Contact</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>

</ion-content>